html{
    background-color: slategray ;
}

a{
    text-decoration: none;
}

header{
    background-color: darkslategrey;
}

.one{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
     
    }



#about h2{
margin: 0% 0% 0% 42%;
}

#about button{
    display:flex;
    justify-content: right;
    font-size:1rem;
    margin: 0% 0% 0% 42%;
}

#about p{
    display: flex;
    justify-content: right;
    text-align: center;
    margin: 2% 15% 0% 40%;
    position: relative;
    
}



#about img{
margin: -5% 0% 0% 0%;
}

.images {
display:flex;
flex-direction: row;
justify-content: space-between;

}


#imageDescription{
display:flex;
flex-direction: row;
justify-content: space-between;
}


#images {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
 .imageDescription{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3{
    text-align: center;
}

#contactMe{
    display:flex;
    justify-content: center;
}

footer h2{
    text-align: center;
}

#social{
    display:flex;
    justify-content: center;
}

.bgColor{
    background-color: darkslategrey;
}

.aboutMe{
text-align: center;
font-size:1.5rem
}

.favAnimals{
font-weight: bolder;
font-size: 1.5rem;
}

.favEditors{
    font-weight: bolder;
    font-size: 1.5rem;
}
    
.favCode{
    font-weight: bolder;
    font-size: 1.5rem;
}

#Container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#imgContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#projectDetails{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.pOne {
  background-color: red;
}

.pTwo{
    background-color: rosybrown;
}

.pThree{
    background-color: slateblue;
}

.pOne:hover{
    text-transform: uppercase;
    background-color: teal;
}

.pTwo:hover{
    text-transform: uppercase;
    background-color: turquoise;
}

.pThree:hover{
    text-transform: uppercase;
    background-color: violet;
}